<div class="container">
    <div class="p-5 mt-3 bg-light rounded">
        <h1>Welcome</h1>
        <p class="lead">{{name}}</p>
    </div>

    <div>
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
            Ingrese los datos para la Encriptación
        </p>
        <form class="mx-1 mx-md-4" (submit)="onRegister()" [formGroup]="registerForm">
            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <input type="text" id="form3Example1c" class="form-control" formControlName="nombre">
                    <label for="form3Example1c" class="form-label">Nombre</label>
                </div>
            </div>
            <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                <div class="form-outline flex-fill mb-0">
                    <input type="text" id="form3Example1c" class="form-control" formControlName="password">
                    <label for="form3Example4c" class="form-label">Cédula</label>
                </div>
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <button type="submit" class="btn btn-secondary btn-lg">
                    Encriptar
                </button>
            </div>
        </form>
    </div>
</div>
